/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-logo {
  width: 475px;
}

.heading {
  color: #334155;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;
  margin: 0px;
  margin-top: 32px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  width: 241px;
  margin-top: 6px;
}
