/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}

.hamburger-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #616e7c;
  width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.popup-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.model-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.nav-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-decoration: none;
  margin-bottom: 32px;
}

.close-btn {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

.nav-link-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 8px;
}
